// 隐藏scroll-view的滚动条
/* #ifndef APP-NVUE */
::-webkit-scrollbar {
    display: none;  
    width: 0 !important;  
    height: 0 !important;  
    -webkit-appearance: none;  
    background: transparent;  
}
/* #endif */

/* QQ/百度/字节跳动/飞书/快手/京东小程序，自定义组件在渲染时会比App/H5端多一级节点，导致标签内容使用的flex失效，需在组件上增加如下class */
/* #ifdef MP-QQ || MP-BAIDU || MP-TOUTIAO || MP-LARK || MP-KUAISHOU || MP-JD */
.y-tab-virtual {
	position: relative;
	flex-shrink: 0;
	width: 100%;
}
/* #endif */

.page-container {
	.title-wrap {
		margin: 0;
		padding: 64rpx 32rpx 32rpx;
		color: #555;
		font-weight: normal;
		font-size: 28rpx;
		line-height: 32rpx;

		/* #ifndef APP-NVUE */
		&:nth-child(1) {
			padding-top: 16rpx;
		}
		/* #endif */

		&__desc {
			color: rgba(69, 90, 100, 0.6);
			font-size: 24rpx;
			line-height: 40rpx;
		}
		
		&__desc:nth-child(1) {
			padding-top: 12rpx;
		}
	}

	.content-wrap {
		width: 100%;
		font-size: 28rpx;
		background-color: #fff;
		height: 160rpx;
		line-height: 160rpx;
		padding-left: 32rpx;
		// text-align: center;
	}
}
